<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madaniyat va Sport sohasidagi eng so'nggi yangiliklar</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <div class="site-header__wrapper">
          <div>
            <a class="site-header__logo" href="./index.html"> Madaniyat va Sport </a>
          </div>
          <ul class="site-header__list">
            <li><a class="site-header__link" href="./madaniyat.html">Madaniyat</a></li>
            <li><a class="site-header__link" href="./sport.html">Sport</a></li>
          </ul>
          <div>
            <button class="site-header__btn">Login</button>
          </div>
        </div>
      </div>
    </header>
    <main class="site-main">
        <div class="container">
          <div class="main__wrapper">
            <div class="main__madaniyat">
              <h1 class="main__title">
                Yangiliklar va Tadbirlar
              </h1>
              <p class="main__text">
                Bizning veb-saytimiz madaniyat sohasidagi so'nggi yangiliklardan xabardor qiladi va qiziqarli tadbirlarni taqdim etadi.
              </p>
              <a class="site-header__btn" href="#">Ko'proq Ma'lumot</a>
            </div>
            <div>
              <img class="main__img-madaniyat" src=".././images/hreo-madaniyat.jpg" alt="" />
            </div>
          </div>
        </div>
      </main>
      
    <footer class="site-footer">
      <div class="container">
        <div class="site-footer__wrapper">
          <div>
            <h2 class="site-footer__title">Aloqa</h2>
            <p class="site-footer__text">
              Biz bilan bog'lanish uchun quyidagi ma'lumotlardan foydalaning:
            </p>
            <ul class="site-footer__contact-info">
              <li>Email: info@madaniyatvasport.uz</li>
              <li>Telefon: +998 99 999 99 99</li>
              <li>Manzil: Toshkent shahri, O'zbekiston</li>
            </ul>
          </div>
          <div>
            <h2 class="site-footer__title">Havolalar</h2>
            <ul class="site-footer__links">
              <li><a href="#">Asosiy sahifa</a></li>
              <li><a href="#">Madaniyat</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Fikrlar</a></li>
            </ul>
          </div>
          <div>
            <h2 class="site-footer__title">Ijtimoiy Tarmoqlar</h2>
            <ul class="site-footer__social-links">
              <li>
                <a class="footer__link" href="#"
                  ><img class="footer__img" src="../images/Facebook.svg" alt="Facebook"
                /></a>
              </li>
              <li>
                <a class="footer__link" href="#"
                  ><img class="footer__img" src="../images/Twitter.svg" alt="Twitter"
                /></a>
              </li>
              <li>
                <a class="footer__link" href="#"
                  ><img class="footer__img" src="../images/Instagram.svg" alt="Instagram"
                /></a>
              </li>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
