/* Umumiy Stilalar */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

/* Header Stilalari */
header {
    background-color: red;
    color: #ff0;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 0.5rem;
}

nav a {
    color: darkslategray;
    text-decoration: none;
    font-weight: bold;
}

/* Asosiy Qism Stilalari */
main {
    padding: 2rem 0;
}

section {
    margin-bottom: 2rem;
}

/* Footer Stilalari */
footer {
    background-color: green;
    color: blue;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    padding: 0.5rem;
}

/* Responsive Stilalar */
@media (max-width: 768px) {
    header, footer .container {
        width: 95%;
    }

    header h1 {
        font-size: 1.5rem;
    }
}
